h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	border-bottom: 1px solid OrangeRed;
	padding: 0 0 5px;
	color: OrangeRed;
	clear: both;
	
}

#content table th {
	font-size: 10px;
	text-align: left;
}
#content h1 {
	font-size: 1.3em;
	margin-bottom: 10px;
}

#content p {
	color: #666;
	font-size: .85em;
	padding: 2px 0;
	clear: both;
}

#content form p {
	float: left;
	clear: both;
	padding: 5px;
	color: OrangeRed;
}

#content form p label {
	float: left;
	width: 100px;
}

#content form p br {
	display: none;
}